form, #root {
    height: 100%;
  }
#container2 {
    left: 37.5%;
    width: 25%;
    top: 25%;
    padding-bottom: 1%;
    border: none;
    position: relative; /* Change to relative */
    background-color: white;
    border-radius: 2%;
    height: auto; /* or height: fit-content; */
    transform: scale(1.5); /* Adjust the scale factor as needed */
}

#form-header2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 16%;
    border-bottom: 1px solid #99004d;
    display: flex; /* Add display flex */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

#form-header2 * {
    margin: 0 auto; /* Simplify margin */
}

#form-body2 {
    position: relative;
    top: 16%;
    left: 5%;
    width: 100%; /* Adjust width */
    height: 60%;
}

#form-footer2 {
    position: relative;
    top: 76%;
    width: 100%; /* Adjust width */
    height: 24%;
    margin-left: 5%; /* Adjust margin */
}

#psw,
#username {
    border: none;
    border-bottom: 2px solid #99004d;
    border-radius: 0%;
    width: 92%; /* Change to 100% */
    margin-top: 2%;
    margin-bottom: 1%;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

#form-body2 p {
    margin-bottom: 1%;
    margin-top: 1.5%;
}

#loginBtn {
    width: 95%;
    background-color: #99004d;
    border-color: #99004d;
    color: white;
    margin-bottom: 5px;
    margin-top: 20px;
}

#loginBtn:hover {
    background-color: #99004d;
    border-color: #99004d;
    color: black;
}

#form-footer2 {
    margin-left: 2.5%; /* Adjust margin */
    text-align: left; /* Align text to the left */
}

#form-footer2 {
    margin-left: 0%;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center; /* Center the text */
}

#form-footer2 p {
    margin: 0; /* Reset margin */
}


#register2 {
    color: white;
}

#register2:hover {
    color: black;
}

*:focus {
    outline: none;
}
